*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

.container{
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: #ad6666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxSlider{
    width: 50rem;
    aspect-ratio: 16/9;
    overflow: hidden;
    display: flex;
    position: relative;
}

.imgSlider{
    width: 100%;
}

.imgSlider > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.imgSlider > img.visible{
    display: block;
}

.miniature{
    background-color: transparent;
    flex-basis: 20%;
    flex-shrink: 1;
    height: 100%;
    position: relative;
    
}

.miniature > img {
    width: 100%;
    height: calc(100% / 5);
    object-fit: cover;
    display: block;
}


.btn{
    padding: 0.5rem;
    background-color: transparent;
    color: lightcoral;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.next{
    position: absolute;
    bottom: 0;
    right: 50%;
}

.previous{
    position: absolute;
    top: 0;
    right: 50%;
}